body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  font-size: 2rem;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

th {
  color: #bbb;
}
